.PasswordForm {
    width: 100%;
    background-color: #454860;
    /* justify-content: space-evenly; */
    align-items: center;
    position: relative;
}

.PasswordForm h1 {
    font-size: 2em;
    font-weight: 800;
    color: #ffffff;
}

.PasswordForm h1 span {
    color: #01b4fb !important;
}

.PasswordForm .reset {
    color: #fe002f;
    font-weight: 700;
    
}
.PasswordForm .reset:hover {
    color: #fe002f;
    font-weight: 700;
    text-decoration: underline;
    cursor: pointer;
}

.PasswordForm .minMax {
    width: 100%;
    justify-content: space-evenly;
    align-items: center;
    font-size: 2em;
    font-weight: 700;
    color: #01b4fb;
    
}

.PasswordForm button {
    width: 45%;
    padding: 2%;
    background-color: #C33C54;
    margin-top: 3%;
    color: #FDF0D5;
    border-radius: .5em;
    font-weight: 700;
    font-size: 2.5em;
    letter-spacing: 3px;
    cursor: pointer;
    box-shadow: 2px 2px 3px #252320;
}
.PasswordForm button:disabled {
    background-color: #889696;
    color: #B8BDB5;
}

.PasswordForm .abso {
    position: absolute;
    right: 0;
}
.PasswordForm .abso:hover {
    cursor: pointer;
    color: #B8BDB5;
}

.modal {
    width: 100vw;
    height: 100vh;
    z-index: 99;
    justify-content: center;
    align-items: center;
}