.PasswordForm {
    width: 100%;
    background-color: #454860;
    /* justify-content: space-evenly; */
    align-items: center;
    position: relative;
}

.PasswordForm h1 {
    font-size: 2em;
    font-weight: 800;
    color: #959595;
}

.PasswordForm .reset {
    color: #fe002f;
    font-weight: 700;
    
}
.PasswordForm .reset:hover {
    color: #fe002f;
    font-weight: 700;
    text-decoration: underline;
    cursor: pointer;
}

.PasswordForm .minMax {
    width: 100%;
    justify-content: space-evenly;
    align-items: center;
    font-size: 2em;
    font-weight: 700;
    color: #01b4fb;
    
}

.PasswordForm button {
    /* transform: scale(2.7); */
    width: 90%;
    height: 50px;
    background-color: #C33C54;
    margin-top: 3%;
    color: #FDF0D5;
    border-radius: .5em;
    font-weight: 700;
    font-size: 2em;
    cursor: pointer;
    box-shadow: 2px 2px 3px #252320;
}
.PasswordForm button:disabled {
    background-color: #889696;
    color: #B8BDB5;
}

.PasswordForm .abso {
    position: absolute;
    right: 0;
}
.PasswordForm .abso:hover {
    cursor: pointer;
    color: #B8BDB5;
}