html {
  background-color: #122a3e;

}

.App {
  align-items: center;
  width: 100%;
  height: 100%;
}

.flex {
  display: flex;
}

.col {
  flex-direction: column;
}

.form-container {
  background-color: #454860;
  border-radius: 1em;
  margin-top: 3%;
  width: 45%;
  height: 60vh;
  justify-content: center;
  padding: 2%;
}

.App .output {
  background-color: #777DA7;
  width: 50%;
  padding: 3%;
  border: 9px solid #777DA7;
  border-radius: 1em;
  margin-top: 3%;
  align-items: center;
}

.App .output h1 {
  color: #3A3335;
  /* letter-spacing: 2px; */
  font-size: 1.75em;
  font-weight: 800;
  padding: 1%;
  border-bottom: 3px solid #3A3335;
  width: 80%;
  text-align: center;
}

.App .icons {
  position: relative;
  width: 150px;
  height: 150px;
  align-items: center;
  justify-content: center;
}

.App .icons p {
  position: absolute;
  color: #122a3e;
  font-weight: 700;
  font-size: 1em;
}

.copied {
  transform: scale(2);
  opacity: 0;
  transition: all .7s;
}

.App .copy-ico {
  cursor: pointer;
}