.App {
  align-items: center;
  background-color: #3185FC;
  width: 100vw;
  height: 100vh;
}

.flex {
  display: flex;
}

.col {
  flex-direction: column;
}

.form-container {
  background-color: #34E5FF;
  border-radius: 1em;
  margin-top: 3%;
  width: 45%;
  height: 60vh;
  justify-content: center;
  padding: 2%;
}

.App .output h1 {
  color: #0A2463;
}
